.messages-container{
    display: flex;
    justify-content: center;
    flex-direction:row;
    width: 100em;
    height: 100vh;
    /* background-color: violet; */
}
.messages-users-container{
    background-color: rgb(20, 43, 35);
    flex: 1;
}
.messages-user-chat-room{
    background-color: rgb(68, 52, 31);
    flex: 2;
}
/*--------------header----------------*/
.messages-user-header{
    display: flex;   
    flex-direction: column;
    background-color: rgb(155, 75, 131);
    height: 5em;
    align-items: center;
}
.messages-user-title{
    flex:3;
    margin-left: 1em;
}
.messages-user-icons{
    flex: 1;
    display: flex;
    justify-content:space-around;
    background-color: brown;
    cursor: pointer;
}
.messages-user-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.messages-search input{
    height: 3em;
    width: 20em;
}
/*-----------user message info-------*/
.message-user-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    height: 5em;
    background-color: bisque;
    cursor: pointer;
}
.message-user-avatar{
    height: 4em;
    width: 4em;
    /* background-color: yellow; */
}
.message-user-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
.message-user-info{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
}