.profile-modal-container{
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:50%;
    left:50%;
    z-index: 1000;
    transform: translate(-50%,-50%);
}
.inactive{
    display:none;
}
.header-profile-modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    position:sticky;
    top: 0;
    z-index: 10;
    /* align-self: flex-start; */
}
.profile-modal-box{
    background-color: rgba(0, 0, 0, 0.808);
    width: 30vw;
    height: 50vh;
    overflow-y: scroll;
    border-radius: 10px;
}
.header-profile-modal .header-title{
    width: 30%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
}
.header-title span{
    font-size: 1.5em;
}
.header-title>#md-close-icon{
    cursor: pointer;
}
.header-profile-modal #buttom-save{
    font-size: 1.5em;
    border-radius: 50px;
    border: 0;
    width: 3em;
    /* height: 1.6em; */
    cursor: pointer;
    margin-right: 1em;
}
.image-cover-box .image-container {
    height: 100%;
}
.image-cover-box .image-container img{
    height:100%;
    width: 100%;
    z-index: 0;
    /* background-image: url("https://www.w3schools.com/w3css/img_lights.jpg"); */
}
.image-cover-box{
    position: relative;
    height: 20em;
    background-color: rgb(81, 255, 0);
}
.image-cover-box .icon-container {
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    justify-content:space-between;
    align-items: center;
    position:absolute;
    top:50%;
    right: 50%;
    width: 7em;
    height: 3em;
    /* height:100%; */
    /* margin: 0 auto; */
    /* width: 100%; */
    transform: translate(50%,-50%);
    /* margin-top:-10em; */
    /* z-index: 10; */
}
.icon-container .camera-icon{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(109, 102, 93,0.5);
    /* position: relative; */
}
.icon-container .camera-icon:hover{
    background-color: rgba(109, 102, 93,0.8);
}
.camera-icon>input{
    display: none;
}
.icon-container .close-icon{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(109, 102, 93,0.5);
}
.icon-container .close-icon:hover{
    background-color: rgba(109, 102, 93,0.8);
}
.camera-icon #camera{
    width: 2em;
    height: 2em;
    color: white;
    cursor: pointer;
    
}
.close-icon #close{
    width: 2em;
    height: 2em;
    color: white;
    
}
/* ---------avatar box------- */
.avatar-box{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0,100);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    margin-left: 5%;
    /* z-index: 10; */
    position: relative;
}
.avatar-box img{
    height: 7.5em;
    width: 7.5em;
    border-radius: 50%;
}
.avatar-box .icon-camera-container{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    justify-content:space-between;
    align-items: center;
    position:absolute;
    top:50%;
    right: 50%;
    width: 3em;
    height: 3em;
    transform: translate(50%,-50%);
    /* z-index: 10; */
}
.icon-camera-container .camera-icon{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(109, 102, 93,0.5);
}
.icon-camera-container .camera-icon:hover{
    background-color: rgba(109, 102, 93,0.8);
}
/*----------username input-------------*/
.profile-modal-box .input-username-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1em;
}
.input-username-container:focus{
    border: 1px solid blue;
    /* background-color: rgb(8, 255, 255); */
}
.input-username-container.focus{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: transparent;
    width: 90%;
}
.input-username-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.541);
    background-color: transparent;
    width: 90%;
}
.input-username-container label{
    color: white;
    
}
.input-username-container textarea{
    background-color: transparent;
    /* height: 2em; */
    color: white;
    font-size: 1.5em;
    border: 0;
    resize: none;
}
.input-username-container textarea:focus{
    outline: none;
    
}
/*----------bio input--------*/
.profile-modal-box .input-bio-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1em;
}
.input-bio-container.focus{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: transparent;
    width: 90%;
}
.input-bio-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.541);
    background-color: transparent;
    width: 90%;
}
.input-bio-container:focus{
    border: 1px solid blue;
}
.input-bio-container label{
    color: white;
    
}
.input-bio-container textarea{
    background-color: transparent;
    /* height: 2em; */
    color: white;
    height: 4em;
    font-size: 1.5em;
    border: 0;
    resize:none;
}
.input-bio-container textarea:focus{
    outline: none;
}
/*---------location input--------*/
.profile-modal-box .input-location-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1em;
}
.input-location-container.focus{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: transparent;
    width: 90%;
}
.input-location-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.541);
    background-color: transparent;
    width: 90%;
}
.input-location-container:focus{
    border: 1px solid blue;
}
.input-location-container label{
    color: white;
    
}
.input-location-container textarea{
    background-color: transparent;
    /* height: 2em; */
    color: white;
    /* height: 3em; */
    font-size: 1.5em;
    border: 0;
    resize: none;
}
.input-location-container textarea:focus{
    outline: none;
}
/*----------website input---------*/
.profile-modal-box .input-website-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1em;
}
.input-website-container.focus{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: transparent;
    width: 90%;
}
.input-website-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.541);
    background-color: transparent;
    width: 90%;
}
.input-website-container:focus{
    border:1px solid blue;
}
.input-website-container label{
    color: white;
    
}
.input-website-container textarea{
    background-color: transparent;
    /* height: 2em; */
    color: white;
    /* height: 3em; */
    font-size: 1.5em;
    border: 0;
    resize: none;
}
.input-website-container textarea:focus{
    outline: none;
}
