.tweet-box{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2f3336;
}
.tweet-avatar .vertical-line-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.vertical-line-container .vertical-line{
    /* width: 1px; */
    /* margin-left: 2em; */
    width: 1px;
    /* height: 100%; */
    background-color:#2f3336;
}
.tweet-box .tweet-container{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 95%;
    /* background-color: wheat; */
    color: #fff;
}
.tweet-container .tweet-avatar{
    width: 4em;
    height:4em;
}
.tweet-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.tweet-container .tweet-container-details{
    display: flex;
    flex-direction: column;
    /* background-color: crimson; */
    width: 90%;
}
.tweet-container-details .tweet-user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 100%;
}
.tweet-container-details .tweet-icons-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}
.tweet-container-details .tweet-user-text{
    padding-top: 1em;
}
.tweet-icons-group .reply-icon,.retweet-icon,.like-icon,.sent-icon{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}